<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%# Ensure the stylesheet is referenced without a host so that the local
        version is read by Roadie even if asset_host is set. %>
    <link rel="stylesheet" href="<%= stylesheet_path('email', host: '') %>" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
